    <h4>OpenRefine</h4>
    OpenRefine is a free, open source tool for working with messy data. Please download and install the appropriate kit of version 2.5 for your operating system from <a href="http://openrefine.org/download.html"> here</a>. We recommend extracting the zipped download to a new folder on your desktop so it's easy to find. OpenRefine runs locally on your computer using your web browser as an interface. For best results, make sure you have Firefox installed. OpenRefine may not work with all web browsers.
  
    <h4>R</h4>
    <p>
      R is a programming language that specializes in statistical computing. It is a powerful tool for exploratory data analysis and statistical modelling. We will
      interact with R using <a href="http://www.rstudio.com/">RStudio</a>, an Integrated Development Environment (IDE).
    </p>    
	<p>
	  This will require installing two piece of software. First, download and install the version of R corresponding to your operating system from <a href="https://cran.r-project.org/">here</a>. Second, you will need to install the RStudio interface from <a href="https://www.rstudio.com/products/rstudio/download/">here</a>, again selecting the installer for your operating system.
	</p>

	<h4>Data</h4>
	<p>
	We will use a selection of data from <a href="http://www.gapminder.org/about-gapminder/">GapMinder</a> to illustrate and explore these tools. Columns on population, life expectancy, and per capita GDP are included for multiple countries for multiple years. You do not need to download the data ahead of time; we'll use the URLs below to load it in directly.
	</p>
	<p>
	For the data cleaning exercise, these data have been "dirtied" with typos. Use this URL for the OpenRefine exercise: <a href="https://goo.gl/38QDoy">https://goo.gl/38QDoy</a>
	<!-- https://raw.githubusercontent.com/tracykteal/openrefine-gapminder/gh-pages/gapminder-messy-openrefine.csv -->
	</p>
	<p>
	We'll use clean data for R which can be found here: <a href="https://goo.gl/NpMmTZ">https://goo.gl/NpMmTZ</a>
	<!-- https://raw.githubusercontent.com/msmorul/datacarpentry-shiny/master/data/gapminder-FiveYearData.csv -->
	</p>
