---
---
<!DOCTYPE html>
 
<html>
  <head>
    {% if page.title %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>{{ page.venue }}</title>
    {% endif %}
    {% include header.html %}
	
	<meta name="date" content="{{page.humandate}}" />
    </head>
  
  <body>
    <div class="container">
      <div class="span10 offset 1", style="margin-top:5px">
        <div class="hero-unit">
          <div class="row-fluid">
           <div class="span10">
	        <h2>Teaching Computation in the Social Sciences</h2>
            <h3>Sponsored by BSOS and <a href="http://www.sesync.org">SESYNC</a></h3>
            <p>&nbsp;<br/>
			  {{page.humandate}}
				  {% if page.humantime %}<br/>{{page.humantime}}{% endif %}
			  <br/>{{address1}}
	       </div>
          </div>
        </div>

        {{content}}

        <!-- {% include footer.html %} -->
      </div>
    </div>
    
  </body>
</html>
